@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* reset */

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald', monospace;
}

body {
    background-color: beige;
}

/* menu */

nav {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

nav ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color: rgb(179, 141, 141);
    transition: 0.5s;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.navlogo {
    width: 180px;
    height: 60px;
    cursor: pointer;
}

/* responsividade menu */

@media (max-width: 858px) {
    .navlogo {
        display: none;
    }
    
    .navlinks {
        display: flex;
    }
}

/* banner */

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0.30)), url("banner.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

/* texto e slogan */

.content {
    width: 100%;
    top: 45%;
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}


.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100px;
    line-height: 25px;
}

.content p:hover {
    font-size: 20px;
    transition: 1s;
}



/* seção fotos */

.foto1 {
    display: flex;
    align-items: center;
    padding: 50px;
    margin: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0.30)), url("iniciosecao1.jpg");
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
}

.foto2 {
    display: flex;
    align-items: center;
    padding: 50px;
    margin: 100px;
    background-color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0.30)), url("iniciosecao2.jpg");
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
}

.foto1 img {
    width: 500px;
    height: 350px;
    border: 5px solid rgb(14, 12, 12);
    border-radius: 50%;
    object-fit: cover;
}

.foto2 img {
    width: 500px;
    height: 350px;
    border: 5px solid rgb(19, 17, 17);
    border-radius: 50%;
    object-fit: cover;
}

.foto1 p {
    font-size: 40px;
    padding: 50px;
    color: white;
}

.foto2 p {
    font-size: 40px;
    padding: 50px;
    color: white;
}

/* responsividade fotos */

@media (max-width: 700px) {
    .foto1 {
        flex-wrap: wrap;
    }
    .foto2 {
        flex-wrap: wrap;
    }
    .foto1 p {
        padding: 50px;
    }
    .foto2 p {
        padding: 50px;
    }
}